<div n:if="!$user->loggedIn">
    <a n:href="connect!"><img
                src="https://playfoursquare.s3.amazonaws.com/press/logo/connect-blue.png"></a>
</div>
<div n:if="$user->loggedIn">
    <div class="span4">
        Přihlášen: {$user->identity->user->firstName} {$user->identity->user->lastName}, <a href="{plink Sign:out}">Odhlásit</a>
    </div>
</div>