{* This is the welcome page, you can delete it *}

{block content}

    <div id="map">
        <div id="map_canvas" style="width: 100%; height:600px"></div>
    </div>
    <!-- Modal -->
    <div id="wikiInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="wikiInfoLabel">Modal header</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
        </div>
    </div>
{/block}
