{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>

    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/datepicker.css">
	<link rel="stylesheet" media="screen" href="{$basePath}/css/style.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>


    <div class="container">

        <div class="row-fluid">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
            <div id="headline" class="topline">
                <div class="span6">
                    {control foursquareConnect}
                </div>
                <div class="span6 text-right">
                    <div n:if="$user->isLoggedIn()">
                        {form dateForm, class=>form-inline}
                        {input from, placeholder=>"Od", class=>'input-small datepicker'}
                        {input to, placeholder=>"Do", class=>'input-small datepicker'}
                        {input ok, class=>"btn btn-primary"}
                        {/form}
                    </div>
                </div>

            </div>
	        {include #content}
        </div>
    </div>
	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{$basePath}/js/ts/gmaps.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/bootstrap-datepicker.js"></script>

	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
